autofs:
  lookup:
    maps:
      nfs:
        opts: "--timeout=0,-fstype=nfs,nfsvers=3,rw,soft,intr,rsize=262144,wsize=262144"
        #direct map
        mount: "/-"
        entities:
          /srv/export1:
            source: nfsserver:/srv/export1
            opts: noatime
          /srv/export2:
            source: nfsserver:/srv/export2
      samba:
        opts: "-fstype=cifs,uid=1001,gid=1001"
        #direct map
        mount: "/srv"
        credentials:
          domain: workgroup
          username: uname
          password: pwstring
        entities:
          export3:
            source: ://sambaserver/srv/export3
            opts: cache=strict
          export4:
            source: ://sambaserver/srv/export4
